<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-nav">
  <div class="container"><a class="navbar-brand" title="Home" [routerLink]='["home"]'>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" data-target=".navbar-collapse.show" data-toggle="collapse">
          <div class="spn-logo">
            <p class="logo">
              <span class="logo-outer"> d <span class="logo-inner"> C
                </span></span>
            </p>
          </div>
        </li>
      </ul>
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span
        class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="hover-link nav-item active" data-target=".navbar-collapse.show" data-toggle="collapse">
          <a class="nav-link text-white a-home" title="Home" [routerLink]='["home"]'>Home</a>
        </li>
        <li class="hover-link nav-item dropdown" data-target=".navbar-collapse.show" data-toggle="collapse">
          <a aria-expanded="false" title="Angular 7 CRUD" aria-haspopup="true"
            class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown"
            role="button">Angular</a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <a class="dropdown-item" title="Employees" [routerLink]='["employees"]'>Employees</a>
            <a class="dropdown-item" title="Contacts" [routerLink]='["contacts"]'>Contacts</a>
          </div>
        </li>
        <li class="hover-link nav-item dropdown" data-target=".navbar-collapse.show" data-toggle="collapse">
          <a title="Sync Fusion Charts" aria-expanded="false" aria-haspopup="true"
            class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown"
            role="button">Sync Fusion</a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <a class="dropdown-item" title="Employees" [routerLink]='["line-series"]'>Line Series</a>
            <a class="dropdown-item" title="Contacts" [routerLink]='["column"]'>Column</a>
            <a class="dropdown-item" title="Contacts" [routerLink]='["trackball"]'>Trackball</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" title="Contacts" [routerLink]='["all-charts"]'>All Charts</a>
          </div>
        </li>
        <li class="hover-link nav-item dropdown" data-target=".navbar-collapse.show" data-toggle="collapse">
          <a title="Video Poker (jQuery)" aria-expanded="false" aria-haspopup="true"
            class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown"
            role="button">Poker</a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <a class="dropdown-item" title="Double Bonus Poker" [routerLink]='["double-bonus-poker"]'>Double Bonus
              Poker</a>
            <a class="dropdown-item" title="Deuces Wild Poker" [routerLink]='["deuces-wild-poker"]'>Deuces Wild
              Poker</a>
            <a class="dropdown-item" title="Jokers Wild Poker" [routerLink]='["jokers-wild-poker"]'>Jokers Wild
              Poker</a>
            <a class="dropdown-item" title="Jacks or Better Poker" [routerLink]='["jacks-or-better-poker"]'>Jacks or
              Better Poker</a>
          </div>
        </li>
      </ul> 
      <form class="form-inline my-2 my-lg-0 ng-untouched ng-pristine ng-valid" novalidate="">
        <ul class="navbar-nav pb-2">
          <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse"><a
              class="hover-link nav-link text-white" href="https://twitter.com/home" target="_blank" title="Twitter"><i
                class="fa fa-twitter text-white"></i></a></li>
          <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse"><a
              class="hover-link nav-link text-white" href="https://github.com/dcassin2082/" target="_blank"
              title="Github"><i class="fa fa-github-square"></i></a></li>
          <li *ngIf="userService.loggedIn" class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse">
            <button title="Logout" class="btn logout-btn my-2 my-sm-0 text-white" (click)="onLogout()">Logout</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
